[submodule "642-Intro-to-Security/UW-CS642"]
	path = 642-Intro-to-Security/HW1345
	url = https://github.com/ctseng-uw/642
[submodule "782-Advanced-Computer-Security/Rootkit"]
	path = 782-Advanced-Computer-Security/Rootkit
	url = https://github.com/ctseng-uw/782-Rootkit
[submodule "739-Distributed-System/Project1"]
	path = 739-Distributed-System/Project1
	url = https://github.com/ctseng-uw/739-Project1
[submodule "739-Distributed-System/Project2"]
	path = 739-Distributed-System/Project2
	url = https://github.com/ctseng-uw/739-Project2
[submodule "782-Advanced-Computer-Security/Paper"]
	path = 782-Advanced-Computer-Security/Paper
	url = https://github.com/ctseng-uw/782-Paper
[submodule "739-Distributed-System/Project3"]
	path = 739-Distributed-System/Project3
	url = https://github.com/ctseng-uw/739-Project3
[submodule "739-Distributed-System/Project4"]
	path = 739-Distributed-System/Project4
	url = https://github.com/c5h11oh/DistributedSystems-Chubby
[submodule "564-Intro-to-Database/stage3"]
	path = 564-Intro-to-Database/stage3
	url = https://github.com/ctseng-uw/564-Stage3
[submodule "564-Intro-to-Database/stage4"]
	path = 564-Intro-to-Database/stage4
	url = https://github.com/ctseng-uw/564-Stage4
[submodule "564-Intro-to-Database/stage6"]
	path = 564-Intro-to-Database/stage6
	url = https://github.com/ctseng-uw/564-Stage6
